In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_schools_types:
    print(school Type)
    print(school Type)
    print(school type)
    print(school_type)

In [2]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [ ]:
# Add the Pandas dependency.
import pandas as pd

In [3]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

NameError: name 'pd' is not defined

In [4]:
# Add the Pandas dependency.
import pandas as pd
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [5]:
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [ ]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [6]:
school_df = pd.DataFrame(high_school_dicts)
school_df

NameError: name 'high_school_dicts' is not defined

In [7]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [9]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [12]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]
# Initialize a new DataFrame.
schools_df = pd.DataFrame()
# Add the list to a new DataFrame.
schools_df["School ID", "School Name", "Type" ] = school_id, school_name, type_of_school

# Print the DataFrame.
schools_df

                      (School ID, School Name, Type)
0                                    (0, 1, 2, 3, 4)
1  (Huang High School, Figueroa High School, Shel...
2   (District, District, Charter, District, Charter)

In [13]:
# Three separate lists of information on high schools
school_df["School ID"] = school_id

school_df["School Name"] = school_name
school_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

                      (School ID, School Name, Type)
0                                    (0, 1, 2, 3, 4)
1  (Huang High School, Figueroa High School, Shel...
2   (District, District, Charter, District, Charter)

In [30]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame(high_school_dicts) 
# Three separate lists of information on high schools
school_df["School ID"] = school_id

school_df["School Name"] = school_name
school_df["Type"] = type_of_school

# Determine if there are any missing values in the school data.
school_data_df.count()

NameError: name 'school_data_df' is not defined

In [29]:
# Determine if there are any missing values in the school data.
school_data_df.count()

NameError: name 'school_data_df' is not defined

In [15]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [16]:
school_df["School ID"] ["School Name"] ["Type"] = school_id, school_name, type_of_school


# Print the DataFrame.
schools_df

KeyError: 'School Name'

In [17]:
# Three separate lists of information on high schools
school_df["School ID"] = school_id
school_df["School Name"] = school_name
school_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [18]:
schools_df["School ID"] ["School Name"] ["Type"] = school_id, school_name, type_of_school
# Print the DataFrame.
schools_df

KeyError: 'School Name'

In [19]:
schools_df["School ID"],["School Name"], ["Type"] = school_id, school_name, type_of_school
# Print the DataFrame.
schools_df

SyntaxError: cannot assign to literal (<ipython-input-19-8dec487bac18>, line 1)

In [20]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [21]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_schools:
    print(school_types)

NameError: name 'school_types' is not defined

In [24]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [25]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [26]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [27]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
# Determine if there are any missing values in the school data.
school_data_df.count()

NameError: name 'school_data_df' is not defined